<%= form_for @task, html: {id: "new_task_form"} do |f| %>

   <div class="form-group">
     <%= label_tag(:name) %>
     <span id = "nameError" class="help-inline">
         Please enter name.
     </span><br/>
     <%= f.text_field(:name, class: 'form-control') %>
   </div>
   <div class="form-group">
     <%= label_tag(:detail) %><br/>
     <%= f.text_area(:detail, class: 'form-control') %>
   </div>
   <div class="form-group">
     <%= label_tag(:deadline) %>
     <span id = "deadlineError" class="help-inline">
         Please select deadline.
     </span><br/>
     <%= f.datetime_field(:deadline, id: 'deadline') %>
     <script>    $("#deadline").flatpickr({
        minDate: new Date(),
        enableTime: true
        });
    </script>
   </div>
   <div class="form-group">
     <%= label_tag(:tags) %><br/>
     <span id="tags_display">
         <% @task.tags.each do |tag| %>
            <%= render 'tags/label', tag: tag.name %>
         <% end %>
     </span>
     <%= text_field_tag(:tag_input) %>
     <%= f.text_field(:tags, id: 'tags', type: 'hidden', value: '')%>
   </div>
   <div>
     <%= button_tag('Submit', type: 'submit',
        class: 'btn btn-default btn-primary btn-block', id: 'submit') %>
   </div>
  <script> prepare_form() </script>
<% end %>
