<table class="table post-list">
    <tr>
        <th>Task</th><th>Due date<th>
    </tr>
      <% @tasks = @tasks.order(deadline: :asc) %>
      <% @tasks.each do |task| %>
        <% if task.deadline < DateTime.now %>
            <tr class='danger'>
        <% elsif task.deadline.to_date == Date.today %>
            <tr class='warning'>
        <% else %>
            <tr>
        <% end %>
          <td><%= task.name %></td>
          <td>
              <span class="cell-date">
                <%= task.deadline.to_formatted_s(:short) %>
              </span>
              <span class="cell-action">
                <%= link_to task_path(task), title: 'Show' do %>
                      <i class="fa fa-eye" aria-hidden="true"></i>
                <% end %>
                  &nbsp;
                  <%= link_to edit_task_path(task), remote: true,
                        title: 'Edit', data:{toggle: 'modal', target: '#popup'} do %>
                        <%= content_tag(:i, '', class: 'fa fa-edit',
                            aria: {hidden: 'true'}) %>
                  <% end %>
                  &nbsp;
                  <a title='Delete' href="javascript:;">
                      <%= link_to task_path(task),
                        method: :delete,
                        data: { confirm: 'Do you want to delete this task?' } do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                  </a>
              </span>
          </td>
        </tr>
      <% end %>
</table>
