<div class="page-header">
    <h1>All tasks</h1>&nbsp;
            <%= link_to new_task_path, remote: true do %>
            <% button_tag(type: 'button', data:{toggle: 'modal',
                target: '#popup'}, class: 'btn btn-default') do %>
                <% content_tag(:i, '', class: 'fa fa-plus',
                    aria: {hidden: 'true'}) %>
                <% end %>
            <% end %>
</div>
<% if defined?(@task) and @task.errors.any? %>
 <div id="error_explanation" class="alert alert-danger" role="alert">
    <p><strong>
       <%= pluralize(@task.errors.count, "error") %> prohibited
       this task from being saved:</strong>
   </p>
     <ul>
       <% @task.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
  </div>
  <hr/>
<% end %>
<!-- Tag buttons -->
<div class="btn-group" role="group" aria-label="">
  <%= link_to 'All', tasks_path, class: "btn btn-default", role: "button", id: "tag-0" %>
  <% @tags.each do |tag| %>
    <% if defined?(@selected_tag) and (tag.id == @selected_tag.id) %>
            <%= link_to edit_tag_path(tag), remote: true, class: "active btn btn-default",
                role: "button", data:{toggle: 'modal',
                    target: '#popup'} do %>
                    <%= tag.name %>
                    <%= content_tag(:i, '', class: 'fa fa-edit',
                        aria: {hidden: 'true'}) %>
            <% end %>
    <% else %>
        <%= link_to tag.name, tag_path(tag), class: "btn btn-default", role: "button",
            id: "tag-#{tag.id}"%>
        <% end %>
  <% end %>
</div>
<hr/>
<%= render "tasks/table" %>
