<div class='page-header'>
    <h1>Task: <%= @task.name %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Due: <%= @task.deadline.to_formatted_s(:long) %></h3>
  </div>
  <div class='panel-body'>
    <p><%= @task.detail %></p>
  </div>
  <div class="panel-footer">
      Tags:
    <% @task.tags.each do |tag| %>
        <%= link_to tag_path(tag) do %>
            <span> <%= tag.name %> </span>
        <% end %>
    <% end %>
  </div>
</div>
<div class='btn-broup' role='group'>
  <%= link_to 'Edit', edit_task_path(@task), remote: true, class: "btn btn-default",
      role: "button", data:{toggle: 'modal', target: '#popup'} %>
  <%= link_to 'Delete', task_path(@task), method: :delete, class: "btn btn-default",
      role: "button", data: { confirm: 'Do you want to delete this task?' } %>
  <%= link_to tasks_path do %>
  <button type='button' class='btn btn-default'>Back</button>
  <% end %>
</div>
