<%= form_for :tag, url: tag_path(@tag), method: :patch do |f| %>

  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tag.errors.count, "error") %> prohibited
        this tag from being saved:
      </h2>
      <ul>
        <% @tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name%>
    <%= submit_tag('Rename', class: 'btn btn-default', id: 'submit') %>
  </p>
<% end %>
