<h1>New Tag</h1>
<% if @tag.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@tag.errors.count, "error") %> prohibited
       this tag from being saved:
     </h2>
     <ul>
       <% @tag.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for :tag, url: tags_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <%= f.submit %>
<% end %>
