// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'jquery-ui-timepicker-addon.css';

// Styles from blog; to be re-written

a i {
    color: #212121;
}

.page-header h1 {
    display: inline-block;
}

.right {
    display: inline-block;
    float: right;
}

.draft td > * {
    color: #616161;
    font-style: italic;
}

.post-list {
    table-layout: fixed;
}

.post-list a {
    text-decoration: none;
}

.post-list a:hover {
    text-decoration: none;
    background: none;
    color: #212121;
}

.post-list td {
    overflow: hidden;
    white-space: nowrap;
}

.post-list td:first-child,th:first-child {
    width: 100%;
}

.post-list td:nth-child(2),th:nth-child(2) {
    width: 0%;
    display: none;
}

.cell-action {
    position: relative;;
    left: -50px;
    z-index: 2;
    display: none;
}

.post-list tr:hover {
    background-color: #f0f0f0;
}

.post-list tr:first-child:hover {
    background-color: #fafafa;
}

.post-list tr:hover td:first-child {
    overflow: visible;
    white-space: normal;
}

.post-list tr:hover .cell-date {
    opacity: 0.3;
}

.post-list tr:hover .cell-action {
    display: inline;
}


@media all and (min-width:536px) {
    .post-list td:first-child,th:first-child {
        width: 65%;
    }

    .post-list td:nth-child(2),th:nth-child(2) {
        width: 35%;
        display: table-cell;
    }
}

.tag_fixed {
    margin-right: 10px;
}

.tag_fixed:hover {
    text-decoration: line-through;
}

#tag_input {
    width: 60px;
}

//---------------------
