<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup">
  Launch demo modal
</button>
 -->
<!-- Modal -->
<div class="modal" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="popupTitle">TITLE</h3>
      </div>
      <div class="modal-body" id="popupBody">
        ...
      </div>
    </div>
  </div>
</div>
